{% extends 'gentelella/base.html' %}
{% load static %}

<title>Drag and Drop Form Builder</title>
{% block stylesheets %}
<link href="{% static 'css/styleDragAndDrop.css' %}" rel="stylesheet">


{% endblock stylesheets %}

{% block content %}
<div class="form-builder">
    <div class="sidebar" id="sidebar">
        <h2>Available Questions</h2>
    </div>
   <div class="form-preview" id="form-preview" droppable="true">
    <h2>Form</h2>
    <form method="post" action="{% url 'render_principal' %}">
    {% csrf_token %}
    <input type="submit" value="View" class="custom-button view-button" id="view-button">
    <button type="button" class="render_button " id="save-button">Save</button>
        <button type="button" class="help-button render_button" id="help-button">Help</button>

</form>

</div>
    <div class="sidebar" id="available-models">
        <h2>Available Models</h2>
        <div id="model-details" class="collapse">
            <ul id="model-fields-list"></ul>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendors/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendors/tinymce/jquery.tinymce.min.js' %}"></script>
<script src="{% static 'vendors/tinymce/tinymce-all.js' %}"></script>
<script src="{% static 'vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/render_view.js' %}"></script>


{% endblock %}
