{% extends 'gentelella/base.html' %}
{% load static %}

{% block stylesheets %}

    <link href="{% static 'css/stylesM.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock stylesheets %}

{% block content %}
    <h1>Welcome to the model-based information question</h1>
    <p>The following buttons will take you to each view:</p>

    <div class="button-container">
        <a href="{% url 'create' %}" class="custom-button">Create Form</a>
        <a href="{% url 'render_name_fields' %}" class="custom-button">Fill form</a>
        <a href="{% url 'render_view_model' %}" class="custom-button">See answers</a>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/form_model.js' %}"></script>
{% endblock %}
