{% extends 'gentelella/base.html' %}
{% load static %}

{% block content %}
    <h1 class="main-title">Resultado</h1>

    <div>
        <h2>Descriptor: {{ descriptor.name }}</h2>
        <p>Descripción: {{ descriptor.description }}</p>
    </div>

    <h2>Personas relacionadas:</h2>
    <ul>
        {% for person in descriptor.persons.all %}
            <li>
                Nombre: {{ person.first_name }} - apellido: {{ person.last_name }} - ID Number: {{ person.id_number }}
            </li>
        {% endfor %}
    </ul>

    <h2>Habitaciones relacionadas:</h2>
    <ul>
        {% for room in descriptor.rooms.all %}
            <li>
                Dirección: {{ room.physical_address }} - Color: {{ room.color }} - Ocupantes: {{ room.occupants_count }}
            </li>
        {% endfor %}
    </ul>

    <h2>Mascotas relacionadas:</h2>
    <ul>
        {% for pet in descriptor.pets.all %}
            <li>
                Tipo: {{ pet.type }} - Color: {{ pet.color }} - Edad: {{ pet.age }} años
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
