{% extends 'gentelella/base.html' %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'css/render_view.css' %}" rel="stylesheet">
<link href="{% static 'css/stylesM.css' %}" rel="stylesheet">

{% endblock stylesheets %}
{% block content %}

    <div class="page-title">
        <h1 class="main-title">Result</h1>
    </div>

    <!-- Agrega un botón que redirige a otra vista -->
<form method="post" action="{% url 'home' %}">
        {% csrf_token %}

    <button type="submit" class="custom-button view-button" id="view-button">Go to home</button>
</form>


    {% if user.is_authenticated %}
        <div class="user-info">
            Current user: {{ user.username }}
        </div>
    {% else %}
        <div class="user-info">
            You are not logged in.
        </div>
    {% endif %}

    <div class="response-container">
        {% for item in content_from_tiny %}
            <div class="response-item">
                <div class="response-text">
                    {{ item.text|safe }}
                </div>
            </div>
        {% endfor %}
    </div>


</div>

{% endblock %}
