{% extends 'gentelella/base.html' %}
{% load static %}

{% block stylesheets %}

    <link href="{% static 'css/render_view.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="page-title">
        <h1 class="main-title">Result</h1>
    </div>

    <h2>Descriptor: {{ descriptor.name }}</h2>
    <p>Description: {{ descriptor.description }}</p>

    <div class="related-section">
        <h2>Related person:</h2>
        <ul>
            {% for person in descriptor.persons.all %}
                <li class="related-item">
                    <span class="related-label">Name:</span>
                    <span class="related-value">{{ person.first_name }}</span>
                    <span class="related-label">Last Name:</span>
                    <span class="related-value">{{ person.last_name }}</span>
                    <span class="related-label">ID Number:</span>
                    <span class="related-value">{{ person.id_number }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="related-section">
        <h2>Rooms related:</h2>
        <ul>
            {% for room in descriptor.rooms.all %}
                <li class="related-item">
                    <span class="related-label">Address:</span>
                    <span class="related-value">{{ room.physical_address }}</span>
                    <span class="related-label">Color:</span>
                    <span class="related-value">{{ room.color }}</span>
                    <span class="related-label">Occupants:</span>
                    <span class="related-value">{{ room.occupants_count }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="related-section">
        <h2>Related pets:</h2>
        <ul>
            {% for pet in descriptor.pets.all %}
                <li class="related-item">
                    <span class="related-label">Type:</span>
                    <span class="related-value">{{ pet.pet_type }}</span>
                    <span class="related-label">Color:</span>
                    <span class="related-value">{{ pet.color }}</span>
                    <span class="related-label">Age:</span>
                    <span class="related-value">{{ pet.age }} age</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}
