
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.form-builder {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    min-width: 200px;
}

.draggable {
    margin: 10px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.form-preview {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}


.mce-content-body {
    color: #333;
}


.tox .tox-toolbar {
    background-color: #f0f0f0;
}

.tox .tox-toolbar .tox-tbtn {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.draggable-model {
    margin: 10px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}


input[type="submit"]:hover {
    background-color: #0056b3;
}
/* create form*/

.custom-form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form h1 {
    text-align: center;
    margin-bottom: 20px;
     color: #3498db;
}

.custom-form label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Estilos personalizados para el botón */
.custom-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2980b9;
}
.custom-button-container {
    text-align: center;
}

/* Estilos para el mensaje del usuario */
.user-message {
    font-weight: bold;
}

/* for mo*/
.custom-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2980b9;
}

.form-builder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-preview {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-message {
    font-weight: bold;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #3498db;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.custom-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2980b9;
}
.form-group label {
    display: inline-block;
    width: 30%;
    text-align: left;
    font-weight: bold;
    padding-right: 10px;
    margin-top: 10px;
}