

/* create form*/

.custom-form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form h1 {
    text-align: center;
    margin-bottom: 20px;
     color: #3498db;
}

.custom-form label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Estilos personalizados para el botón */
.custom-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2980b9;
}
.custom-button-container {
    text-align: center;
}

/* Estilos para el mensaje del usuario */
.user-message {
    font-weight: bold;
}

/* for mo*/
.custom-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2980b9;
}

.form-builder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-preview {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-message {
    font-weight: bold;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #3498db;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.custom-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2980b9;
}
.form-group label {
    display: inline-block;
    width: 30%;
    text-align: left;
    font-weight: bold;
    padding-right: 10px;
    margin-top: 10px;
}

/*render view*/
.user-info {
    margin-bottom: 20px;
    font-size: 18px;
}

.response-list {
    list-style: none;
    padding: 0;
}

.response-list li {
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.main-title {
    color: #3498db; /* Color azul */
}